* {
    touch-action: pan-y !important;
    user-select: none !important;
    -webkit-user-select: none !important;
    -webkit-touch-callout: none !important;
    -webkit-user-drag: none !important;
}
:root.nonscrolling, :root.nonscrolling * {
    touch-action: none !important;
    color: red;
}
body {
    font-family: sans-serif;
    display: flex;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    --background-color: white;
    --foreground-color: rgb(0 0 0);
    --nav-background-color: white;
    --nav-foreground-color: rgb(0 0 0);
    --alternate-background-color: rgb(0 0 0 / 0.03);    /* want alpha to go over images */
    --edge-color: #aaaaaa;
    --action-background-color: #dddddd;
    --newly-added-background-color: #0680c7;
    --newly-added-foreground-color: white;
    --selected-background-color: #b0e2ff;
    --now-playing-background-color: #ffcf9B;
    --drop-target-color: #0694c7;
    --margin: 8px;
    --row-height: 1.8em;
    --action-height: 40px;
    color: var(--foreground-color);
    background: var(--background-color);
    line-height: 1.4;
}
input {
    user-select: initial;
    touch-action: initial;
    font-size: 1.2em;
}
input[type=range], label {
    flex-grow: 1;
}
label {
    display: flex;
}
label input {
    flex: 1;
    margin-left: 2em;
    margin-right: 4em;
}
.hidden {
    display: none !important;
}
a {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
    white-space: nowrap;
    display: block;
}
nav {
    width: 15%;
    padding: var(--margin);
    overflow-y: auto;
    background: var(--nav-background-color);
    color: var(--nav-foreground-color);
}
main {
    flex: 1;
    position: relative;
    display: flex;
}
main > * {
    flex: 1;
    display: none;
}
main > *:target {
    display: flex;
    flex-direction: column;
    height: calc(100vh - var(--margin) * 2);
}

/**
 * Main table styling
 */
.table {
    flex: 1;
    margin: var(--margin);
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-bottom: 10px;
}
.tr {
    height: var(--row-height);
    line-height: var(--row-height);
    position: relative;
}
.tr:where(:nth-child(2n+3)) {
    background-color: var(--alternate-background-color);
}
.thead {
    top: 0;
    position: sticky;
    border-bottom: 2px solid var(--edge-color);
    z-index: 5;
    background: var(--background-color);
    margin-bottom: 2px;
}
.td, .th {
    position: relative;
    box-sizing: border-box;
    white-space: pre;
    overflow: hidden;
    padding: 0 4px;
    text-shadow: 0 0 2px var(--background-color); /* because of coverart */
}
.td:not(:first-child) {
    margin-left: -1px;  /* to line up exactly under header */
    border-left: 1px solid var(--alternate-background-color);
}
.td:empty::before {
    content: "-";
    opacity: 0.3;
}
.th {
    font-weight: bold;
}
.th.sort::after {
    position: absolute;
    right: 0;
    content: "↓";
}
.th.sort.reverse::after {
    content: "↑";
}
.column-resize {
    position: absolute;
    width: 2px;
    padding: 0 2px;
    height: 100%;
    background: var(--edge-color);
    background-clip: content-box;
    cursor: col-resize;
}
body > .column-resize {
    position: relative;
}
.table .table-menu {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 8;
    padding: 2px 2px 2px 4px;
    width: 20px;
    height: var(--row-height);
    box-sizing: border-box;
    background: no-repeat center/contain content-box url("resources/menu.svg"), var(--background-color);
}
.table .table-menu .popup {
    top: calc(var(--row-height) + 4px);
}
/* Next two needed to give a drop-target at the end of the table */
.table::after {
    display: block;
    height: var(--row-height);
    content: "";
}
.table.drop-target::after {
    border-top: 2px solid var(--drop-target-color); /* drop at end of table */
}
.tr:not(.thead).drop-target {
    border-top: 2px solid var(--drop-target-color); /* drop onto existing row */
    margin-top: -2px;
}
.tr.thead .th.drop-target {
    outline: 2px solid var(--drop-target-color);    /* when resizing columns */
}


/**
 * Highlighting things
 */
.tr.selected {
    z-index: 2;
}
.disabled {
    color: var(--disabled-color);
}
.selected {
    background: var(--selected-background-color);
}
.nowplaying {
    background: var(--now-playing-background-color);
}
.tr.selected.nowplaying {
    /*
    background-image: linear-gradient(45deg, var(--now-playing-background-color) 25%, var(--selected-background-color) 25%, var(--selected-background-color) 50%, var(--now-playing-background-color) 50%, var(--now-playing-background-color) 75%, var(--selected-background-color) 75%, var(--selected-background-color) 100%);
    background-size: 5.66px 5.66px;
    */
    background-image: linear-gradient(to bottom right, var(--now-playing-background-color), var(--selected-background-color));
    background-color: initial;
}
@keyframes newly-added {
    0% {
        color: var(--newly-added-foreground-color);
        background: var(--newly-added-background-color);
    }
    100% {
        color: var(--foreground-color);
        background: var(--background-color);
    }
}
.newly-added {
    animation: newly-added 1s linear 1;
}

/**
 * Navigation pane items
 */
.server:not(.active) div {
    display: none;
}
.servername {
    font-weight: bold;
    margin-bottom: 4px;
}
.server {
    margin-bottom: 1em;
}
[data-field="partitions"] {
    margin: 4px 0;
    padding: 4px 0;
    border-top: 1px solid var(--edge-color);
    border-bottom: 1px solid var(--edge-color);
}

.partition.active::after {
    float: right;
    content: "☆";
    position: relative;
    top: -3px;
}
/*:is([data-field="playlists"], [data-field="partitions"]) .drop-target */
:is(.partition, .playlist, [data-action="newplaylist"]).drop-target {
    outline: 2px solid var(--drop-target-color);
}
/* We want to see the "newplaylist" option when root has "track-dragging" set */
[data-action="newplaylist"] {
    display: none;
    font-style: italic;
}
.track-dragging [data-action="newplaylist"] {
    display: block;
}

/**
 * The "action" pane above the table, and popups (also used in table)
 */
.action {
    flex: 0 0 var(--action-height);
    background: var(--action-background-color);
    display: flex;
    justify-content: space-between;
    padding: var(--margin) var(--margin) 4px var(--margin);
    height: var(--action-height);
    white-space: nowrap;
    align-items: center;
}
.icon.small {
    height: 50%;
    margin: 0 0.2em;
}
.spacer {
    min-width: 15px;
    flex-grow: 1;
}
.icon {
    height: 90%;
    aspect-ratio: 1;
    margin: 0 0.2em;
    background: no-repeat center/contain content-box url("resources/bin.svg");
}
.icon.trackstart                                        { background-image: url("resources/trackstart.svg"); }
.icon.trackend                                          { background-image: url("resources/trackend.svg"); }
.icon.speaker                                           { background-image: url("resources/speaker.svg"); }
.icon.menu                                              { background-image: url("resources/menu.svg"); aspect-ratio: 200/520 }
.icon[data-action="destroy"]                            { background-image: url("resources/bin.svg"); }
.icon[data-action="play"]                               { background-image: url("resources/play.svg"); }
.icon[data-action="play"][data-value="play"]            { background-image: url("resources/pause.svg"); }
.icon[data-action="previous"]                           { background-image: url("resources/fr.svg"); }
.icon[data-action="next"]                               { background-image: url("resources/ff.svg"); }
.icon[data-action="volumedown"]                         { background-image: url("resources/voldown.svg"); }
.icon[data-action="volumeup"]                           { background-image: url("resources/volup.svg"); }
.icon[data-action="replaygain"]                         { background-image: url("resources/compress-none.svg"); }
.icon[data-action="replaygain"]:is([data-value="auto"],[data-value="album"],[data-value="track"]) { background-image: url("resources/compress.svg"); }
.icon[data-action="mode"]                                { background-image: url("resources/repeat-none.svg"); }
.icon[data-action="mode"][data-value="repeat-one"]      { background-image: url("resources/repeat-one.svg"); }
.icon[data-action="mode"][data-value="repeat-all"]      { background-image: url("resources/repeat-all.svg"); }
.icon[data-action="random"]                             { background-image: url("resources/shuffle-none.svg"); }
.icon[data-action="random"][data-value="true"]          { background-image: url("resources/shuffle.svg"); }
/* popups - also used in table */
.icon.menu .popup {
    right: 30px;
    top: 50px;
}
.popup {
    position: absolute;
    z-index: 20;
    right: 4px;
    border: 1px solid var(--foreground-color);
    background: var(--background-color);
    padding: 8px;
    top: 20px;
}
.popup a {
    display: block;
    white-space: nowrap;
}

/**
 * Special things
 */
#bin {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 120px;
    aspect-ratio: 0.75;
    padding: 10px;
    border: 2px solid var(--foreground-color);
    --bg: white;
    background: no-repeat center/cover content-box url("resources/bin.svg"), var(--bg);
    z-index: 5;
    display: block;
}

#bin.drop-target {
    --bg: var(--selected-background-color);
}

#drag { /* this is the thing we see when we drag */
    position: absolute;
    background: no-repeat center/cover content-box url("resources/music.svg");
    padding: 20px;
    width: 80px;
    height: 80px;
    z-index: 8;
}

/**
 * These are things we clone, but the originals are never displayed
 */
#partition-template, #playlist-template, #library-template, #server-navigation-template {
    display: none !important;
}

img.coverart {
    position: absolute;
    left: 0%;
    top: 90px;
    min-width: 100%;
    min-height: calc(100% - 90px);
    aspect-ratio: 1;
    z-index: -1;
    opacity: 0.2;
}
